<!DOCTYPE html>
<html>
<head>
	<meta content="text/html"; charset="UTF-8"; http-equiv="Content Type">
</head>

<body>
	<h1>Welcome to the sample app!</h1>
	<p>Your user name is <%= @user.name %><br \>	
		
		Please follow this link to confirm your log in and sign in. If you believe you receive this email in error please follow this link to correct the problem.<br \></p>
		
	<p> Thanks! And have fun!</p>
</body>
</html> 
		
	