<%= simple_form_for @micropost do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
   <div class = "filed">
   		<%= f.input :content, :placeholder => "What's on your mind?", :label => false, :required => false %>
   </div>
   <div class = "actions">
   		<%= f.button :submit, "Submit" %>
   </div>
<% end %>
