<%= simple_form_for @micropost do |f| %>
   <div class = "filed">
   		<%= f.input :content, :placeholder => "What's on your mind?", :label => false, :required => false %>
   </div>
   <div class = "actions">
   		<%= f.submit "Post", :class => 'button' %>
   </div>
<% end %>
