<ul id = "sign_in">
	<%= render 'sessions/sign_in' %>
</ul>


<h1>Ruby Sample App Home</h1>
<p>
		This is the home page for the
		      <a target="_blank" href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		      sample application.
</p>
<div id= "big_sign_up_button">
	<%= link_to "Sign Up!", new_user_path, :class => 'button big'%>