<h1>Welcome!</h1> 
<p>You are almost done with the sign in process! There is just one more step to go and then you're done! Please enter the confirmation code from your verification email we sent you in the text box below. Then, click submit. That's it, you're done!</p>
<%= form_for :secretcodes do |f| %>
<div class = "field">
	<%= f.text_field :text %>
</div>
<div class="actions">
	<%= f.submit "Submit", :class => "button" %>
</div>
<% end %>